.apropos-container {
  display: grid;
  grid-template-columns: 1fr 1fr; // Deux colonnes égales
  justify-items: center; // Centrage horizontal des éléments


  @media (max-width: 680px), (orientation: portrait) {
    grid-template-columns: 1fr; // Une colonne pour les petits écrans ou en mode portrait
  }
}

.left {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Alignement en haut pour la colonne de droite
  align-items: center; // Centrage vertical du contenu dans la colonne droite
  padding: 80px;
  margin-top: 50px;
}

.badges {
  display: grid;
  grid-template-columns: 1fr 1fr; // Deux colonnes pour les badges
  grid-gap: 10px; // Espacement entre les badges
  cursor: grab;



  @media (max-width: 680px), (orientation: portrait) {
    grid-template-columns: 1fr; // Une colonne pour les petits écrans ou en mode portrait
  }
}

.badge {
  background-color: white; // Fond blanc
  padding: 10px; // Espacement intérieur
  margin: 10px; // Espacement extérieur
  border-radius: 12px; // Coins arrondis
  text-align: center; // Centrage du contenu dans chaque badge
}

.qr-code {
  width: 100%;
  height: auto;
  max-width: 150px; // Ajustez la taille du QR code selon vos besoins
  margin-top: 10px; // Marge supérieure pour espacement
}
