// _variables.scss 


// Breakpoints
$breakpoint-xs: 320px;  // iPhone SE, iPhone 5/5S/5C
$breakpoint-sm: 480px;  // Small tablets and larger phones in landscape mode
$breakpoint-md: 768px;  // iPad, iPad Mini (portrait mode), Nexus 9, Samsung Galaxy Tab (portrait mode)
$breakpoint-lg: 1024px; // iPad, iPad Mini (landscape mode), Nexus 9 (landscape mode), Samsung Galaxy Tab (landscape mode)
$breakpoint-xl: 1280px; // Small desktops, laptops
$breakpoint-xxl: 1440px; // Large desktops
$breakpoint-xxxl: 1920px; // Full HD screens, large desktops
